.button {
  width: 100%;
  max-width: 33rem;
  height: 6.4rem;
  max-height: 6.4rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--button-color);
  background-color: var(--button-background);
  border: var(--button-border);
  border-radius: 1.6rem;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.button:first-letter {
  text-transform: uppercase;
}

.button:active {
  background: var(--button-background-active);
  color: var(--button-color-active);
  transform: scale(0.98);
}

.button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
