.title {
  font-size: clamp(2rem, 1.5rem + 2vw, 2.4rem);
  font-weight: 700;
  align-self: flex-start;
  color: var(--title);
  width: 100%;
  cursor: default;
}

.loader {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.4rem solid #f3f3f3;
  border-top: 0.4rem solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
