.questionContainer {
  width: clamp(28rem, 90%, 33rem);
  padding: 0 1.5rem 1.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
